<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dragon.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>61434B4490B0F0C1EEC221FB8FA6FDB68DD771C1</string>
				<key>dateExpires</key>
				<string>1/7/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MW9N4C945H.com.dragon.dragon</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MW9N4C945H</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Dragon.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f5620cd0-7149-44f1-a374-853c3c2965d9</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MW9N4C945H</string>
				<key>name</key>
				<string>Joint Green Industries, INC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
